BEGIN:VCALENDAR
PRODID:-//Google Inc//Google Calendar 70.9054//EN
VERSION:2.0
CALSCALE:GREGORIAN
METHOD:REQUEST
BEGIN:VEVENT
DTSTART;VALUE=DATE:20241223
DTEND;VALUE=DATE:20241224
DTSTAMP:20241209T043538Z
ORGANIZER;CN=Kevin:mailto:kevin1998warren@gmail.com
UID:7ql2raadahqh56ir795qqtq0eo@google.com
ATTENDEE;CUTYPE=INDIVIDUAL;ROLE=REQ-PARTICIPANT;PARTSTAT=NEEDS-ACTION;RSVP=
 TRUE;CN=grtech;X-NUM-GUESTS=0:mailto:grtechinfor@gmail.com
ATTENDEE;CUTYPE=INDIVIDUAL;ROLE=REQ-PARTICIPANT;PARTSTAT=ACCEPTED;RSVP=TRUE
 ;CN=Kevin;X-NUM-GUESTS=0:mailto:kevin1998warren@gmail.com
X-MICROSOFT-CDO-OWNERAPPTID:-958332784
CREATED:20241209T043536Z
DESCRIPTION:
LAST-MODIFIED:20241209T043537Z
LOCATION:
SEQUENCE:0
STATUS:CONFIRMED
SUMMARY:HR Meet
TRANSP:TRANSPARENT
END:VEVENT
END:VCALENDAR
